// Specific CSS for your home-page

.banner {
    background-size: cover;
    background-position: center;
    margin-left: 6.2%;
    height: 700px;
}  


.ml2 {
    font-weight: 900;
    font-size: 7.5em;
    padding-top: 15%;
    color: #FF5722;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

  