<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://github.com/AlePili/alepili-images-resouce/blob/main/shapes.jpg?raw=true);">   
    <div class="text-center">
         <%# <h1>Wannabi</h1> %>
         <h1 class="ml2">Wannabi</h1>
    </div>
</div>
